

<div id = "wrapper">	
			

		<h2> About Myself </h2 >     


		<p>Using traditional methods of massage therapy that have existed for thousands of years ties me to something rooted. Thai and Shiatsu therapy are great because they are principled on treating  medical conditions by focusing on muscle groups, acupuncture points, and stretching.</p>

		<p>I am a National and New York State licensed Massage Therapist. I am proud to have graduated from the Finger Lakes School of Massage (<a href ="http://www.flsm.com/">F.L.S.M</a>) in Ithaca, NY. The education I received at F.L.S.M. was integrative, comprehensive, and compelling, and has contributed largely to my success as a therapist today.</p>

		
		<p>I have been practicing massage therapy for nine years. I have spent five years of my career working at a five-star resort called The Lodge at Woodloch, perfecting my skills as a massage therapist. I have developed a strong bodywork practice with Shiatsu, Thai Yoga Massage, Reflexology, Trager, and Reiki energy work. I have selected to practice these styles because they simply work the best and offer unmatched long-term benefits. In addition to my typical practice, I am also trained in Connective Tissue Therapy, Swedish, Deep Tissue, Cryo-Therapy, and others. </p>
		
		<p>Massage therapy is a life-long pursuit for myself; however, I am also currently continuing my pursuit for knowledge at the State University of New York at New Paltz. I am studying Geo-Chemical Geology and mathematics/computers. My major interests include water quality, fractals, computer programming, and web-design. With my interests in massage, art, math, science, language, engineering, and nature, I forsee many possibilities in my future. This website, which I built myself, is a product of my self-education into web-design/computer programming. If interested in a website or massage, please <a href="/contact">contact</a> me. I'd also like to thank <a href ="http://www.jvt.io/"> Joseph Torreggiani </a> for inspiring me and offering sound advice on making a quality web page, and <a href="http://choicewordspr.com/who-we-are/">Jennifer Gutman</a> for offering her sage editorial advice. And thank you for stopping by!</p>

		<p>Signed, </p>

		<p>Kieran Pierce</p>
		<br>
		<hr>
	</div>

		<div class = "info"> Call or Text Message: <a id ="mobile" href =" tel:1-845-549-0106">845-549-0106</a> || Email : <a href="mailto:traditionalmassagekjp@gmail.com">traditionalmassagekjp@gmail.com </a> </div>