<h1>Contact</h1>

<form name="input" action="/send_email" method="get">
<label> Message </label> <br>
<textarea rows="4" cols="50" name="message" placeholder="Enter Text"> </textarea> <br>
<input type="submit" value="Send">
</form>