<!-- <h1>Contact</h1>

<form name="input" action="/send_email" method="get">
	<label> Message </label> 
	<br>
	<textarea rows="4" cols="50" name="message" placeholder="Enter Text"> </textarea>
	<br>
	<input type="submit" value="Send">
</form>
 -->

<div id="wrapper">

			<h2> Contact </h2>  

			<fieldset>
				<legend>Your Questions or Requests</legend>
				<br>
					
						<form name="input" action="/send_email" method="get">
							<label for="name">First Name:</label>
								<input type="text" name="firstName">
							<br>
							<label for="name">Last Name:</label>
								<input type="text" name="lastName">
							<br>
							<label for="email">Email:</label>
								<input type="text" name="email">
							<br>
							<label>Date intrested in session:</label>
								<input type="date" name="date">
							<br>
							<label for="comments">Comments</label>
								<textarea name="message" placeholder="Enter Text" cols="40" rows="5"></textarea> 
							<br>
							<input id="mySubmit" type="submit" value="Submit!" onclick="doFunction()">
						</form>

				</fieldset>

			

			<br>

			<hr>
		</div>
		
	</body>
	<script>
		function doFunction() 
		{
			
		    if (true) 
		    {
		    	console.log("Looks like it is working");
		        window.alert("Message will be sent shortly after you press OK, thanks for your inqury!");
		    }
		}
	</script>

