

<div id = "wrapper">

			<h2>Health Tips</h2>		
				
				<p>Here are simple health tips but will benefit our life if we are clear about follow them through.</p>

				<h2>The basics</h2>	
				<ol>

					<li>Staying hydrated is an incredible important aspect of health, as we are 70% or more water. Surprising about the same amount as the earth holds. It many seem silly but 75% are said to be chronically dehydrated. </li>

					<li>Eat close to the earth, many products in the stores and filled with very odd chemicals that are not necessary to sustain our everyday life.</li>

					<li>Exercise, this very important, when we move/exercise it delivers new blood into our tissues.  This blood will have fresh nutrients, oxygen, and will remove our depleted stale blood from these tissues. Exercising will keep you young, strong, give you more energy.  It could be something simple as walking 30 minutes a day, gardening, taking a stretch class or on your own, lifting, running. It all depends on what your goals are or what your body will let you do.  Many like to work out as a team or in a group I know I enjoy taking part of a marshal arts class such as <a href= "http://www.aikidoofnewpaltz.org/">Aikido</a>. </li>

					<li>Taking deep nourishing breathes' is a simple tool for stress reduction.  When stress piles, taking deep breathes will be more beneficial then imaginable. A general rule includes 5 seconds inhalation, 5 seconds exhale, a useful tool for meditation too!</li>

				</ol>

				<p> I hope you will give these small tips into practice, it may take time to implement them but it will be worth your time. </p>
				
				<br>
				<hr>

			</div>
			<div class = "info"> Call or Text Message: 
				<a id ="mobile" href =" tel:1-845-549-0106">1-845-549-0106</a> 
				|| Email : <a href="mailto:traditionalmassagekjp@gmail.com">traditionalMassagekjp@gmail.com </a> </div>