

<div id = "wrapper">

	<h2>Health Tips</h2>		
				<img class = "PictureForEachPage" alt = 'health food' Height="500px" width="750px" src="picture/foodpic.jpg">
	<p>Here are a few simple health tips that will benefit our lives if we are clear about following them through.</p>

	<h2>The Basics:</h2>	
	<ol>

		<li>Staying hydrated is an incredibly important aspect of health, as we are 70% or more water. Surprisingly, that's about the same amount as the earth holds. It may seem shocking, but 75% of people are said to be chronically dehydrated. </li>

		<li>Eat close to the earth; many products in the stores are filled with very odd chemicals that are not necessary to sustain our everyday life.</li>

		<li>Exercise. This is very important. When we move/exercise, it delivers new blood into our muscle tissue. This blood will have fresh nutrients, and will remove depleted stale blood from our tissue. Exercising will keep you young, strong, and give you more energy. It could be something as simple as walking 30 minutes a day, gardening, stretching, lifting, or running. It all depends on what your goals are and what your body will let you do. Many like to work out as a team or in a group. I know I enjoy taking part in a martial arts class, such as <a href= "http://www.aikidoofnewpaltz.org/">Aikido</a>. </li>
		
		<li>Taking deep, nourishing breaths is a simple tool for stress reduction. When stress piles on, taking deep breaths will be more beneficial than is imaginable. A general rule includes a smooth oscillation between 5 seconds of inhalation followed by 5 seconds of exhalation. It's a useful tool for meditation too!</li>

	</ol>

	<p> I hope you will give these small tips a try. It may take time to implement them, but it will be worth it. </p>
				
	<br>
	<hr>
</div>
			