<div id ="wrapper">
				
		<h3>Working across the Hudson Valley, NY</h3>
		<h2>What is Traditional Massage?</h2>
		<h5>Song by: Eliah, Album: Flower of Life<h5>
			<audio controls>
				<source src="picture/12 Angel.mp3" type="audio/ogg">
				Your browser does not support the audio element.
			</audio>

			
			
		<p>My massage therapy business is different than others because I travel to the client's home. There is no need to stress about making it to an appointment on time or driving after receiving a session when you are half asleep. Home visits allow the client to be able to relax, heal, and enjoy something wholesome for an extended period of time. I know how limited time can be in many people's lives and would love to provide a source of relaxation without the added stress. Whether you're an athlete, recoving from an injury, looking to relax, or simply enjoy the benefits of massage, my knowledge of bodywork is good for everyone, young and old alike.</p>

		<p>Learning that less is more, I provide a mat and a white clean sheet for the client to lie upon. With the styles I practice, the client receives the massage in loose, comfortable clothing. The focus of my massages are on stretching, rhythmic rocking, muscle compression, Shiatsu points (see<a href="/styles"> Styles </a> page), and the specific physical concerns of each client. It is important to note that the client remains 100% relaxed while I explore the range of motion of each client's unique body, where I aim to care for the areas of concern for the individual. It really is a distinct style of massage therapy. I believe after one treatment, you will be hooked!</p>

	<hr>
</div>
		