<html>
<head>
	<title>Traditional Massage in the Hudson Valley, NY</title>
		
	<meta charset="UTF-8">

	<!-- CSS connection -->
	<link rel="stylesheet" type="text/css" href="styles.css">

	<!-- code for media quiry -->
	<link type = "text/css"rel="stylesheet" href="mobile.css" media="only screen and (max-width: 480px)" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<!-- So my web site can be found -->
	<meta charset="UTF-8">
	<meta name="keywords" content="massage therapy, hudson valley, health, professional massage,
	shaitsu, Thai massage, reiki, bodywork, Kieran Pierce">
	<meta name="resource-type" content="document">
	<meta name="revisit-after" content="30 days">
	<meta name="classification" content="consumer"> 
	<meta name="copyright" content="2014">
	<meta name"discription" content="I offeer a massage therapy service that is unquie because I travel to homes offering '5' star professional massage therapy, for health, relaxation, sports medicine, injury recovery">
	<meta name="web author" content="traditionalmassagekjp@gmail.com"> 

</head>
<body>
<header>
	<div id="logo">
		<div id="clouds"></div>
		<div class="cloud x1"></div>
		<!-- Time for multiple clouds to dance around -->
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	<div id="logoText">Traditional Massage</div>
</header>


<div id="nav-container">
	<nav id="nav">
		<ul>
			<li><a href = "/">Home</a> </li> 
			<li><a href = "/styles">Styles</a></li>
			<li><a href = "/contact">Contact</a></li>
			<li><a href="/health_tips">Health Tips</a></li>
			<li><a href = "/about">About Myself</a></li>
	 	</ul>				
	</nav>
</div>

<div id="context-container"> 
  <%= yield %>
</div>
<div class = "info"> 
	Call or Text Message: <a id ="mobile" href =" tel:1-845-549-0106">1-845-549-0106</a> || Email : <a href="mailto:traditionalmassagekjp@gmail.com">	traditionalMassagekjp@gmail.com </a> 
</div>


</body>


</html>


	
