<html>
<head>
	<title>Traditional Massage in the Hudson Valley, NY</title>
		
	<meta charset="UTF-8">

	<!-- To change font from Google -->
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>

	<!-- CSS connection -->
	<link rel="stylesheet" type="text/css" href="styles.css">

	<!-- code for mobile devices-->
	<link type = "text/css"rel="stylesheet" href="mobile.css" media="only screen and (max-width: 480px)" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<!-- So my web site can be found -->
	<meta charset="UTF-8">
	<meta name="keywords" content="Massage, Health, Sports Massage, Pain relief, New Paltz area,
	Shiatsu, Thai Yoga massage, Reiki, Bodywork, Hudson Valley, Kieran Pierce">
	<meta name="resource-type" content="document">
	<meta name="revisit-after" content="30 days">
	<meta name="classification" content="consumer"> 
	<meta name="copyright" content="2014">
	<meta name"discription" content="I offer a massage therapy service that is uniquie because I travel to homes, Hudson Valley, New York, professional massage therapy, for health, relaxation, traditional medicine, sports medicine, injury recovery">
	<meta name="web author" content="Kieran Pierce | kieran5600@gmail.com"> 

</head>
<body>
<header>
	<div id="logo">
		<div id="clouds"></div>
		<div class="cloud x1"></div>
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	<div id="logoText">Traditional Massage</div>
</header>


<div id="nav-container">
	<nav id="nav">
		<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/styles">Styles</a></li>
			<li><a href = "/contact">Contact</a></li>
			<li><a href="/health_tips">Health Tips</a></li>
			<li><a href = "/about">About Myself</a></li>
	 	</ul>				
	</nav>
</div>

<div id="context-container"> 
  <%= yield %>
</div>
<div class = "info"> 
	Call or Text Message: <a id ="mobile" href ="tel:1-845-549-0106">845-549-0106</a> || Email : <a href="mailto:traditionalmassagekjp@gmail.com">	traditionalmassagekjp@gmail.com </a> 

 			<p ><a href="https://www.linkedin.com/pub/kieran-pierce/8b/920/477
			"><img src="picture/LinkedIn.jpg" style ="height: 2em; width: 2em; "alt="Linked In Kieran Pierce"></a> <a href="https://www.facebook.com/TraditionalMassageKJP"><img src="picture/fbfinal2.jpg" style="height:2em; width: 2em;" alt="Facebook for Kieran Pierce"></a></p>
</div>
</body>


</html>


	
