<div id ="wrapper">
<h2> Styles </h2>

			
			<p> All sessions are $80 per hour. A $10 charge will be applied to travel a distance over 30 minutes. </p>
			<dl>
				<dt><strong> Integrated Work:</strong></dt>

				<dd>This is my most popular and requested style of work. What this style offers is a blend of all the modalities listed below. Each style has its benefits, and through the blending of modalities, I can effectively cater to each client's specific needs. </dd>

				<dt><Strong>Shiatsu:</strong></dt>

				<dd>Shiatsu is a style of massage similar to acupuncture. When you break the word down from Japanese it means, "finger pressure". As in acupuncture, you receive a unique treatment designed to improve posture, strength, and energy, as well as to help correct imbalances within each body. In addition, many clients enjoy the various stretching techniques implemented as part of this treatment style. </dd>

				<dt><strong>Thai Yoga Massage:</strong><dt>

				<dd>This style is becoming more popular with gained understanding. The name pretty much speaks for itself. Like Shiatsu, Thai Yoga Massage can be either deep or soft work.  Most of this work is based on stretching. While in a stretch there are often compressions on the particular muscle groups being activated. This creates extra space within the body. Many therapist and bodywork receivers call this "the lazy man's yoga".   You can expect many of the same physical sensations and the "zen" relaxed feeling of traditional yoga practice.   </dd>

				<dt><strong>Reflexology:</strong></dt>

				<dd>Reflexology is the study of specific trigger points on the hands, feet, and sometimes ears. The idea is that the hands and feet resemble a map of the human body and internal organs. People find the treatment to be extremely relaxing, offering a real chance for decompression. Interestingly, this style of treatment balances the yin and yang constitutions. A specialized focus on these areas is especially therapeutic because our feet and hands are often overworked. Reflexology is also extremely useful in the treatment of bodily areas that are too sore for direct contact. For example, reflexology can be extremely beneficial after major surgery when direct contact with the wounded area is not possible. </dd>

				<dt><strong>Reiki:</strong></dt>

				<dd>This style of energy work was founded by a gentleman in Japan named Dr. Usui. He passed on his knowledge of the newfound practice to Mrs. Hawayo Takata who brought Reiki from Japan to the West in 1937. It is a gentle style of bodywork with hand placements on and above the body. Currently, there is much sciencetific research being conducted on this style of work because it is showing many diverse healing benefits.  </dd>
			</dl>
			<br>
			<hr>
		</div>	
		
</div>		