@media only screen and (max-width:480px) {
   
    #nav-container li
    {
        display: block;
        text-align: center;
        text-decoration: underline;
        padding: .75;
        width: auto;

    }
    #wrapper
    {
        text-align: left;
        padding:.1em;
        margin: auto;
        width: 75%;
    }
    #audio_off
    {
        display:none;
    }

    #song_title
    {
        display: none;
    }

    #mobile
    {
    	display: inline; 
    }

    .cloud
    {
        display: none;
    }

    body
    {
        background: #c9dbe9;
        width:100%;
        margin: none;
        padding: none;
    }

	#desktop 
    {
		display: none;
	}
        /*for contact information, from here down*/
    fieldset 
    {
    	width: auto;
    }
    label
    {
    	float: none;
    	text-align: left;
    }

    textarea
    {
    	max-width: 250px;
    	width: 200px;
    }
}